@model Ekart.Models.Customer
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
</style>

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1>Ekart</h1>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<center>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <input type="submit" name="signin_submit" onclick="location.href='@Url.Action("Index", "Login")'" value="Sign in" />
                <input type="submit" name="signin_submit" onclick="location.href='@Url.Action("Index", "Signup")'" value="Sign Up" />
            </li>
        </ul>
    </div>
</center>
<div class="row">
    <div class="column">
        <img src="~/images/Ekart.jpg" style="width:100%" />
        <img src="~/images/ekart2.jpg" style="width:100%" />
        <img src="~/images/ekart3.jpg" style="width:100%" />
        <img src="~/images/ekart4.png" style="width:100%" />
    </div>
    <div class="column">
        <img src="~/images/Ekart.jpg" style="width:100%" />
        <img src="~/images/ekart2.jpg" style="width:100%" />
        <img src="~/images/ekart3.jpg" style="width:100%" />
        <img src="~/images/ekart4.png" style="width:100%" />
    </div>
    <div class="column">
        <img src="~/images/Ekart.jpg" style="width:100%" />
        <img src="~/images/ekart2.jpg" style="width:100%" />
        <img src="~/images/ekart3.jpg" style="width:100%" />
        <img src="~/images/ekart4.png" style="width:100%" />
    </div>
    <div class="column">
        <img src="~/images/Ekart.jpg" style="width:100%" />
        <img src="~/images/ekart2.jpg" style="width:100%" />
        <img src="~/images/ekart3.jpg" style="width:100%" />
        <img src="~/images/ekart4.png" style="width:100%" />
    </div>
</div>




