<header class="header">

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1>Ekart</h1>
                
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <center> <h2>Order Placed Successfully!!!</h2></center>
                </nav>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <form class="form-horizontal" asp-action="Index" asp-controller="Home" method="post">
                <div class="form-group">
                    <center> <input type="submit" value="Home Page" /></center>
</div>

            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>